.fonctionnement{
    width: 90%;
    height: fit-content;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;    

    &__title{
        align-self: flex-start;
        margin-bottom: 30px;
    }
    
    &__list{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    @include tablet{
        
        &__title{
            margin-left: 25%;
        }
    }

    @include desktop{

        &__title{
            margin-left: 0;
            align-self: unset;
            width: unset;
        }

        &__list{
            width: fit-content;
            flex-direction: row;
            gap: 80px;
            padding-left: 10px;
        }
    }
}

.fcard{
    width: 100%;
    height: 70px;
    background-color: $colour-backgound;
    border-radius: 20px;
    position: relative;
    @include flex-center;

    &:nth-child(3){
        background-color: lighten($colour-primary, 35%);
    }

    &__index{
        position: absolute;
        left: -10px;
        background-color: $colour-primary;
        height: 20px;
        width: 20px;
        border-radius: 40px;
        @include flex-center;
        color: white;
    }

    &__icon{
        margin-left: -230px;
        color: darken($colour-backgound, 40%);

    }

    &__text{
        position: absolute;
    }

    @include tablet{
        width: 50%;
        gap: 20px;

        &__icon{
            margin: 0;
        }

        &__text{
            position: static;

        }

        &__index{
            left: -50px;
            height: 40px;
            width: 40px;
        }

    }

    @include desktop{
        width: 250px;
        gap: 10px;
        opacity: 0;

        $elements: 3;

        @for $i from 0 to $elements {

            &:nth-child(#{$i+1}){
                animation: fade-in 500ms ($anim-dur-loader+($anim-delay-loader/2)+$anim-delay-loader)+$i*500ms ease-in forwards;
            }

        }
    }
}

#highlight-icon{
        color: $colour-primary;
}