.header{
    width: 100%;
    
    &__logo{
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 1px 4px 0px $colour-shadow;
        position: fixed;
        z-index: 5;
        top: 0px;
        background-color: white;

        &__nav{
            gap: 50px;
            margin-right: 50px;
            display: none;

            &__items{

                & a{
                    &::after{
                        content: "";
                        display: block;
                        width: 0%;
                        height: 3px;
                        border-radius: 10px;
                        background-color: $colour-primary;
                        transition: all 500ms ease-in-out;
                    }

                    &:hover::after{
                        width: 100%;
                    }

                }


            }
        }
    }
    
    &__location{
        height: 50px;
        background-color: $colour-location;
        @include flex_center;
        color: $colour-text-secondary;
        & i{
            margin-right: 15px;
        }
    }

    @include desktop{
        &__logo{
            justify-content: space-between;

            &__h1{
                margin-left: 50px;
            }

            &__nav{
                display: flex;
            }
        }
    }

}

.description{
    @include flex_center;
    flex-direction: column;
    text-align: center;
    background-color: $colour-backgound;
    padding: 40px 0 50px 0;

    &__title{
        width: 80%;
    }

    &__text{
        width: 90%;
       margin: 20px 0 30px 0;
    }

    @include desktop{
        display: none;
    }
}

.loader{
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 1;
    position: absolute;
    top: 0;
    z-index: 10;
    @include flex-center;
    animation: load-background 500ms ease-in $anim-dur-loader forwards;

    &__oh{
        transform: translate(-100vw, ($space-loader * 2)); 
       
        animation: load-oh $anim-dur-loader cubic-bezier(.51,0,.49,1.67) ;
    }

    &__my{
        transform: translate(-100vw, $space-loader); 
        animation: load-my $anim-dur-loader cubic-bezier(.98,0,.56,1.7)  $anim-delay-loader / 2 ;
    }

    &__food{
        transform: translate(-500%, 0px); 

        animation: load-food $anim-dur-loader cubic-bezier(.98,0,.56,1.7)  $anim-delay-loader ;
    }
}