*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;

    &:visited{
        color: black;
    }
}