body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Shrikhand', cursive;
    font-size: $font-size-logo;
}

.header__location{
    font-size: $font-size-title;
    font-weight: 600;
}

.loader{
    font-family: 'Shrikhand', cursive;
    font-size: $font-size-logo;
}

.description{
    &__title{
        font-weight: 700;
        width: 70%;
    }

    &__text{
        font-weight: 300;
    }

    @include tablet{
        &__text{
            font-size: 18px;
        }
    }
}

button{
    font-size: $font-size-title;

    @include tablet{
        font-size: $font-size-title+2;
    }
}

.fcard{
    &__text{
        font-weight: 500;
    }

    @include tablet{
        &__index{
            font-size: 18px;
            font-weight: 600;
        }
        
        &__text{
            font-size: 18px;
        }

        &__icon{
            font-size: 20px;
        }
    }
}

.rcard{

    &__new{
        font-size: 14px;
        font-weight: 500;
    }


     & .fa-heart{
        font-size: 24px;

    }
}



.footer{
    &__logo{
        font-family: 'Shrikhand', cursive;
    }
}

.flist{
    font-weight: 300;

    &__text:nth-of-type(-n+2){
        font-weight: 500;
    }
}

//menu

.Mmain{

    &__title{
        font-family: 'Shrikhand', cursive;
        font-size: 23px;
    }

    &__btn{
        font-size: 20px;
    }
}

.entrees , .plats , .desserts{

    &__title{
        font-weight: 300;
        font-size: 14px;
    }
    
    &__card{
        font-size: 14px;

        &__name{
            font-weight: 500;
        }

        &__description{
            font-weight: 300;
            font-size: 13px;
        }

        &__price{
            font-weight: 500;
        }
    }

    @include tablet{
        
        &__title{
            font-size: 18px;
        }

        &__card{
            font-size: 16px;

            &__description{
                font-size: 16px;
            }
        }

    }
}