body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Shrikhand', cursive;
}

.header__location{
    font-size: $font-size-title;
    font-weight: 600;
}

.description{
    &__title{
        font-weight: 700;
        width: 70%;
    }

    &__text{
        font-weight: 300;
    }
}

button{
    font-size: $font-size-title;
}

.fcard{
    &__text{
        font-weight: 500;
    }
}

.rcard{

    &__new{
        font-size: 14px;
        font-weight: 500;
    }

    &__icon{
        font-size: 24px;
    }
}

.footer{
    &__logo{
        font-family: 'Shrikhand', cursive;
    }
}

.flist{
    font-weight: 300;

    &__text:nth-of-type(-n+2){
        font-weight: 500;
    }
}
