@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}


@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin shadow_card($opacity_shadow) {
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,$opacity_shadow);
}

@mixin btn {
    background: $colour-gradient;
    padding: 15px 18px;
    border: none;
    border-radius: 40px;
    color: $colour-clickable;
    cursor: pointer;
    @include shadow_card(0.6);

    &:hover{
        @include shadow_card(1);
        background: linear-gradient(180deg,lighten($colour-secondary, 3%) 0%, lighten($colour-primary, 3%) 80%);

    }
}

@mixin margin_rcard_title {
    margin-left: 5%;
}

@mixin style-menu {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__title{

        &::after{
            content: "";
            display: block;
            width: 35px;
            height: 2.5px;
            background-color: $colour-tiertary;
            margin-top: 5px;
        }
    }

    &__card{
        width: 100%;
        height: 55px;
        border-radius: 13px;
        background-color: white;
        @include shadow_card(0.2);
        position: relative;
        display: flex;
        gap: 10px;
        overflow: hidden;
        cursor: pointer;
        transform: translateY(-20%);
        opacity: 0;

        $elements: 4;

        @for $i from 1 to $elements {

            &:nth-child(#{$i+1}){
                animation: fade-in 1000ms $i*300ms ease-in forwards;
            }

        }
        
        &__container{
            min-width: 0;
            flex: 0 0 80%;
            position: relative;
            left: 0;
            margin: auto 0;
        }


        &__name{
            margin-left: 20px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        &__description{
            margin-left: 20px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        &__price{
            margin-top: 20px;
            padding-left: 10px;
            padding-right: 10px;
            flex: 1 0 20%;
        }

        &__checkout{
            height: 100%;
            background-color: $colour-tiertary;
            @include flex_center();
            flex: 0 0 60px;

            margin-left: 0;

            &__circle{
                height: 20px;
                width: 20px;
                background-color: white;
                border-radius: 20px;
                @include flex_center();
                
                & .fa-check{
                    color: $colour-tiertary;
                }
            }
        }

        &:hover &__container {
            animation: checkout-anim 450ms ease-out alternate forwards;
        }

        &:hover &__checkout .fa-check {
            animation: checkout-icon-rotation-anim 450ms ease-out;
        }
    }

    @include tablet{

        &__title{
            &::after{
                width: 50px;
            }
        }

        &__card{
            height: 70px;

            &__price{
                margin-top: 25px;
            }
        }
    }
}