$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tiertary: #99E2D0;

$colour-shadow: rgba(0,0,0,0.6);

$colour-clickable: white;

$colour-location: #eaeaea;
$colour-backgound: #f6f6f6;

$colour-gradient: linear-gradient(180deg,$colour-secondary 0%, $colour-primary 80%);

$colour-text-secondary: #353535;

$font-size-logo: 32px;
$font-size-title: 15px;

$anim-dur-loader: 3000ms;
$anim-delay-loader: $anim-dur-loader / 8;

$space-loader: -30px;

$breakpoints: (
    tablet: 768px,
    desktop: 1024px
)

